nav
  div
    form
      width: 100%
      div
        width: 100%
        div
          width: auto
          span
            background-color: white
        input
          width: auto

.btn-sign-up
  min-width: 90px

.btn-finish-registration
  min-width: 175px

.uploader
  width: -moz-available